body {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-weight: normal;
    padding-bottom: .5em;
    color: #777;
}

#scene {
    margin-bottom: 4em;
}

#cov {
    float: right;
    /* position: fixed; */
    /* bottom: 20px; */
    /* right: 20px; */
    font-size: 48px;
    color: #999;
}

th, td {
    width: 110px;
}
